<launch>
  <param name="robot_description" textfile="$(find jaws_description)/urdf/jaws.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <include file="$(find jaws_imu)/launch/filter.launch" />

  <node name="quaternion" pkg="jaws_imu" type="quaternion" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jaws_rviz)/config/isometric.rviz" required="true" />
</launch>
