<launch>
  <include file="$(find freenect_launch)/launch/freenect.launch" />

  <node name="laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" args="image:=/camera/depth/image_raw" />

  <node name="scan2base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link camera_link 100" />
  <node name="base2odom" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 odom base_link 100" />

  <node name="map" pkg="gmapping" type="slam_gmapping" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kinect_rviz)/config/map.rviz" />
</launch>
