<launch>
  <param name="robot_description" textfile="$(find jaws_description)/urdf/jaws.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="static_transform" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 odom base_link 100" />

  <node name="joint_pub" pkg="jaws_tf" type="joint_pub" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jaws_rviz)/config/isometric.rviz" required="true" />
</launch>
