<robot name="jaws">

  <material name="delrin">
    <color rgba=".8 .8 .75 1" />
  </material>

  <material name="aluminum">
    <color rgba=".68 .7 .74 1" />
  </material>

  <material name="light">
     <color rgba=".5 .5 .5 1" />
  </material>

  <material name="dark">
     <color rgba=".4 .4 .4 1" />
  </material>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.57 0" />

      <geometry>
        <cylinder radius="0.06" length="0.24" />
      </geometry>

      <material name="aluminum" />
    </visual>
  </link>

  <link name="base_dome">
    <visual>
      <origin xyz="0.12 0 0" rpy="0 0 0" />

      <geometry>
        <sphere radius="0.06" />
      </geometry>

      <material name="delrin" />
    </visual>
  </link>

  <link name="base_endcap">
    <visual>
      <origin xyz="-0.13 0 0" rpy="0 1.57 0" />

      <geometry>
        <cylinder radius="0.06" length="0.02" />
      </geometry>

      <material name="delrin" />
    </visual>
  </link>

  <link name="aft_base">
    <visual>
      <origin xyz="-0.15 0 -0.02" rpy="0 0 0"/>

      <geometry>
        <box size="0.02 0.02 0.02" />
      </geometry>

      <material name="dark" />
    </visual>
  </link>

  <link name="aft_body">
    <visual>
      <origin xyz="-0.18 0 -0.01" rpy="0 0 0"/>

      <geometry>
        <cylinder radius="0.02" length="0.06" />
      </geometry>

      <material name="light" />
    </visual>
  </link>

  <link name="aft_dome">
    <visual>
      <origin xyz="-0.18 0 -0.04" rpy="0 0 0"/>

      <geometry>
        <sphere radius="0.02" />
      </geometry>

      <material name="light" />
    </visual>
  </link>

  <link name="aft_duct">
    <visual>
      <origin xyz="-0.18 0 0.04" rpy="0 0 0"/>

      <geometry>
        <cylinder radius="0.04" length="0.04" />
      </geometry>

      <material name="dark" />
    </visual>
  </link>

  <link name="port_base">
    <visual>
      <origin xyz="0.06 0.07 0" rpy="1.57 0 0"/>

      <geometry>
        <cylinder radius="0.01" length="0.02" />
      </geometry>

      <material name="dark" />
    </visual>
  </link>

  <link name="port_body">
    <visual>
      <origin xyz="0.06 0.10 -0.01" rpy="0 0 0"/>

      <geometry>
        <cylinder radius="0.02" length="0.06" />
      </geometry>

      <material name="light" />
    </visual>
  </link>

  <link name="port_dome">
    <visual>
      <origin xyz="0.06 0.10 -0.04" rpy="0 0 0"/>

      <geometry>
        <sphere radius="0.02" />
      </geometry>

      <material name="light" />
    </visual>
  </link>

  <link name="port_duct">
    <visual>
      <origin xyz="0.06 0.10 0.04" rpy="0 0 0"/>

      <geometry>
        <cylinder radius="0.04" length="0.04" />
      </geometry>

      <material name="dark" />
    </visual>
  </link>

  <link name="stbd_base">
    <visual>
      <origin xyz="0.06 -0.07 0" rpy="1.57 0 0"/>

      <geometry>
        <cylinder radius="0.01" length="0.02" />
      </geometry>

      <material name="dark" />
    </visual>
  </link>

  <link name="stbd_body">
    <visual>
      <origin xyz="0.06 -0.10 -0.01" rpy="0 0 0"/>

      <geometry>
        <cylinder radius="0.02" length="0.06" />
      </geometry>

      <material name="light" />
    </visual>
  </link>

  <link name="stbd_dome">
    <visual>
      <origin xyz="0.06 -0.10 -0.04" rpy="0 0 0"/>

      <geometry>
        <sphere radius="0.02" />
      </geometry>

      <material name="light" />
    </visual>
  </link>

  <link name="stbd_duct">
    <visual>
      <origin xyz="0.06 -0.10 0.04" rpy="0 0 0"/>

      <geometry>
        <cylinder radius="0.04" length="0.04" />
      </geometry>

      <material name="dark" />
    </visual>
  </link>

  <joint name="base-dome" type="fixed">
    <parent link="base_link" />
    <child link="base_dome" />
  </joint>

  <joint name="base-endcap" type="fixed">
    <parent link="base_link" />
    <child link="base_endcap" />
  </joint>

  <joint name="base-aft" type="fixed">
    <parent link="base_link" />
    <child link="aft_base" />
  </joint>

  <joint name="aft-body" type="fixed">
    <parent link="aft_base" />
    <child link="aft_body" />
  </joint>

  <joint name="aft-dome" type="fixed">
    <parent link="aft_body" />
    <child link="aft_dome" />
  </joint>

  <joint name="aft-duct" type="fixed">
    <parent link="aft_body" />
    <child link="aft_duct" />
  </joint>

  <joint name="port-base" type="fixed">
    <parent link="base_link" />
    <child link="port_base" />
  </joint>

  <joint name="port-body" type="fixed">
    <parent link="port_base" />
    <child link="port_body" />
  </joint>

  <joint name="port-dome" type="fixed">
    <parent link="port_body" />
    <child link="port_dome" />
  </joint>

  <joint name="port-duct" type="fixed">
    <parent link="port_body" />
    <child link="port_duct" />
  </joint>

  <joint name="stbd-base" type="fixed">
    <parent link="base_link" />
    <child link="stbd_base" />
  </joint>

  <joint name="stbd-body" type="fixed">
    <parent link="stbd_base" />
    <child link="stbd_body" />
  </joint>

  <joint name="stbd-dome" type="fixed">
    <parent link="stbd_body" />
    <child link="stbd_dome" />
  </joint>

  <joint name="stbd-duct" type="fixed">
    <parent link="stbd_body" />
    <child link="stbd_duct" />
  </joint>

</robot>
