<launch>
  <param name="robot_description" textfile="$(find jaws_description)/urdf/jaws.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="jaws_joint_laps" pkg="learn_tf" type="jaws_joint_laps" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find learn_rviz)/config/isometric-x5.rviz" required="true" />
</launch>
