<launch>
  <param name="robot_description" textfile="$(find jaws_description)/urdf/jaws.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="cruise" pkg="jaws_rviz" type="cruise" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jaws_rviz)/config/cruise.rviz" />
</launch>
